.CardDetail{max-width: 65%; border: 1px solid #74042a; margin: 20px auto;}
.innerDiv{width: auto; margin: auto;}
.title{color: #74042a; font-size: 1.75rem; font-weight: 700; font-family: 'Exo 2', sans-serif; text-align: center;}

